body {
  background-color: #f8f2ef;
}

.headerBar {
  background-color: #a77252;
}

.footerBar {
  background-color: #a77252;
}

.sidebarLinks a {
  color: #5f524c;
  font-size: 2rem;
}

.headerNavLinks a {
  color: #f8f2ef;
}

.nav-pills .nav-link.active {
  background-color: #8c904d;
  font-weight: bold;
}

.nav-link:hover {
  color: #5f524c;
}

p {
  color: #5f524c;
}

.mobileNav {
  display: none;
}
