@media only screen and (max-width: 600px) {
  .promoCard {
    max-width: 540px;
  }

  .headerNavLinks {
    display: none;
  }

  .headerBar {
    justify-content: space-between;
    align-items: center;
  }

  .mobileNav img {
    margin-right: 30px;
  }

  .mobileNav {
    display: flex;
    justify-self: end;
  }

  .mobileNavBG {
    background-color: #f8f2ef;
  }
}
