@media only screen and (max-width: 600px) {
  .card {
    max-width: 540px;
  }

  .headerNavLinks {
    display: none;
  }

  .headerBar {
    justify-content: space-between;
    align-items: center;
  }

  .mobileNav img {
    margin-right: 30px;
  }

  .mobileNav {
    display: flex;
    justify-self: end;
  }

  .mobileNavBG {
    background-color: #F8F2EF;
  }

  .menuScrollspy {
    flex-direction: column; !important
  }

  .main-content, .sidebar {
    justify-items: center;
    align-self: center;
  }

  .sidebar {
    width: 100vh;
  }
}
